<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="hacerLogin"
               url="http://localhost:3000/apitechu/v5/login/"
               method="POST"
               handle-a="json"
               on-response="mostrarResultadoLogin"
               on-error="mostrarError">
    </iron-ajax>

    <div class="row">
      <input type="email" value="{{email::input}}"/>
      <input type="password" value="{{password::input}}"/>
      <button on-click="logar">Login</button>
    </div>
    <span hidden$="{{!logado}}">Bienvenido de nuevo</span>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
      mostrarResultadoLogin(resultado)  {
        console.log("4. llegaron los resultados")
        console.log(resultado)
        console.log("5. proceso los resultados")
        this.logado = true
        /*lanza el evento personalizado*/
        this.dispatchEvent(new CustomEvent("logado", {"detail": {"id":resultado.detail.response.id}}))
      }
      logar() {
        console.log("1. el usuario a pulsado el botón")
        this.$.hacerLogin.headers.email = this.email
        this.$.hacerLogin.headers.password = this.password
        console.log("2. petición enviada")
        this.$.hacerLogin.generateRequest()
        console.log("3. petición enviada")
      }
      mostrarError(error){
        console.log("4. llega el error")
        console.log(error)
        this.logado = false
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
