<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax auto="" id="obtenerUsuario" url="http://localhost:3000/apitechu/v5/usuarios/{{id}}" handle-a="json" on-response="mostrarDatos"></iron-ajax>
    <!--"mostrarDatos" es una función que todavía no hemos definido-->
    <div class="row">
      <h1 class="col-4">{{nombre}}</h1>
      <h2 class="col-4">{{apellidos}}</h2>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellidos: {
            type: String
          },
          id: {
            type: Number
          },
          ciudad: {
            type: String,
            value: "Desconocida"
          }
        };
      }
      mostrarDatos(datos) {
        console.log(datos)
        console.log(datos.detail.response)
        this.nombre = datos.detail.response.first_name  //se indica que la propiedad nombre es el dato first_name de la base de datos de Mlab
        this.apellidos = datos.detail.response.last_name  //se indica que la propiedad apellidos es el dato last_name de la base de datos de Mlab
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
