<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!--
<link rel="import" href="/src/emisor-app/emisor-app.html">
<link rel="import" href="/src/receptor-app/receptor-app.html">
-->
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">

<dom-module id="padre-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>GESTOR GLOBAL</h1>
    <!--
    <emisor-app id="emi" on-mievento="procesar"></emisor-app>
    <receptor-app id="recep" ></receptor-app>
    -->
    <login-usuario id="lgu" on-logado="procesarLogado"></login-usuario>
    <visor-cuentas id="vsc" ></visor-cuentas>

  </template>

  <script>
    /**
     * `page-not-found.html`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PadreApp extends Polymer.Element {
      static get is() { return 'padre-app'; }
      static get properties() {
        return {
        };
      }
      procesar(e) {
        console.log("emisor me ha dicho algo")
        console.log(e)
        this.$.recep.mostrarCuentas(e.detail)
      }
      procesarLogado(e) {
        var id = e.detail.id
        this.$.vsc.obtenerCuentas(id)
      }
    }

    window.customElements.define(PadreApp.is, PadreApp);
  </script>
</dom-module>
